body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
.nav {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: 1.7px black solid;
    border-top: none;
    border-left: none;
    border-right: none;
    position: fixed;
}

.nav .logo img {
    width: 150px;
    margin-top: -45px;
    padding-left: 70px;
}

.nav .navbar ul {
    display: flex;
    list-style-type: none;
    column-gap: 70px; 
    margin-left: auto;
    padding-top: 5px;
    margin-right: 100px;
}

.nav .navbar li a {
    text-decoration: none;
    color: #3172ac;
    font-weight: bolder;
    font-family: sans-serif;
}
h1{
    text-align: center;
    padding-top: 300px;
    margin-top: 0;
}